.container {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1128px;
    }
}

@media screen and (min-width: 1440px) {
    .section-container {
        display: grid;
        gap: 24px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .posts-list {
        grid-row: 1 / 3
    }

    .socials-network-container {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .video-container {
        grid-row: 2 / 3;
    }
}