.hero-section {
    margin-bottom: 96px;
}

.hero-list {
    display: grid;
    gap: 12px;
}

.hero-list-item {
    position: relative;
}

.hero-list-img {
    border-radius: 16px;
}

.hero-list-text-wrapper {
    background-color: rgba(47, 47, 55, 0.4);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    position: absolute;
    bottom: 0;
}

.hero-list-text {
    font-weight: 700;
    line-height: 1.25;
    color: var(--main-white-color);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
}