<section>
  <ul>
    <li>
      <img src="#" alt="cat in huggies" />
      <div>
        <p>
          Коти та їхні чудові навички: від полювання до загадкових здібностей
        </p>
      </div>
    </li>
    <li>
      <img src="#" alt="people playing with people" />
      <div>
        <p>
          Коти в літературі та мистецтві: від Егіпетських богів до сучасних
          майстрів
        </p>
      </div>
    </li>
    <li>
      <img src="#" alt="cat on people" />
      <div>
        <p>Котячі породи для активних власників: як вибрати компаньйона</p>
      </div>
    </li>
  </ul>
</section>
