<section class="hero-section">
  <div class="container">
    <h2 class="visually-hidden">Hero-section</h2>
    <ul class="hero-list">
      <li class="hero-list-item">
        <img
          src="../images/cat-in-huggies.jpg"
          class="hero-list-img"
          alt="cat in huggies"
        />
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </p>
        </div>
      </li>
      <li class="hero-list-item">
        <img
          src="../images/people-playing-with-cat.jpg"
          class="hero-list-img"
          alt="people playing with cat"
        />
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Коти в літературі та мистецтві: від Егіпетських богів до сучасних
            майстрів
          </p>
        </div>
      </li>
      <li class="hero-list-item">
        <img
          src="../images/cat-on-people.jpg"
          class="hero-list-img"
          alt="cat on people"
        />
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Котячі породи для активних власників: як вибрати компаньйона
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
