<section class="hero-section">
  <div class="container">
    <h2 class="visually-hidden">Hero-section</h2>
    <ul class="hero-list">
      <li class="hero-list-item first-item">
        <picture>
          <source
            srcset="./images/cat-in-huggies-desktop.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./images/cat-in-huggies-tablet.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="./images/cat-in-huggies-mobile.jpg"
            srcset="./images/cat-in-huggies-mobile.jpg"
            class="hero-list-img"
            alt="cat in huggies"
          />
        </picture>
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Коти та їхні чудові навички: від полювання до загадкових здібностей
          </p>
        </div>
      </li>
      <li class="hero-list-item second-item">
        <picture>
          <source
            srcset="./images/people-playing-with-cat-desktop.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./images/people-playing-with-cat-tablet.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="./images/people-playing-with-cat-mobile.jpg"
            srcset="./images/people-playing-with-cat-mobile.jpg"
            class="hero-list-img"
            alt="people playing with cat"
          />
        </picture>
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Коти в літературі та мистецтві: від Егіпетських богів до сучасних
            майстрів
          </p>
        </div>
      </li>
      <li class="hero-list-item thrid-item">
        <picture>
          <source
            srcset="./images/cat-on-people-desktop.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./images/cat-on-people-tablet.jpg"
            media="(min-width: 768px)"
          />
          <img
            src="./images/cat-on-people-mobile.jpg"
            srcset="./images/cat-on-people-mobile.jpg"
            class="hero-list-img"
            alt="cat on people"
          />
        </picture>
        <div class="hero-list-text-wrapper">
          <p class="hero-list-text">
            Котячі породи для активних власників: як вибрати компаньйона
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
