<section>
  <ul>
    <li>
      <img src="#" alt="post photo" />
      <h2>Найпопулярніші породи котів: який кіт підходить вам?</h2>
      <p>
        Вивчіть найпопулярніші породи котів і їхні особливості, щоб зробити
        інформований вибір, який підходить саме вам.
      </p>
    </li>
    <li>
      <img src="#" alt="post photo" />
      <h2>Як піклуватися про вашого пухнастого друга: догляд за котом</h2>
      <p>
        Дізнайтеся про основні аспекти догляду за котом, включаючи годування,
        гігієну та взаємодію з вашим улюбленцем.
      </p>
    </li>
    <li>
      <img src="#" alt="post photo" />
      <h2>Забавні факти про котів, які вас здивують</h2>
      <p>
        Веселі та цікаві факти про котів, які піднімуть вам настрій та розкажуть
        про їхні унікальність.
      </p>
    </li>
    <li>
      <img src="#" alt="post photo" />
      <h2>Історія та культурна значущість котів в усьому світ</h2>
      <p>
        Вивчіть, як коти впливали на культури різних народів та дізнайтеся
        історію спільного життя людей і котів.
      </p>
    </li>
  </ul>
  <h2>Соцмережі</h2>
  <ul>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
    <li>
      <svg>
        <use></use>
      </svg>
      <p>230,000</p>
    </li>
  </ul>
  <h2>Відео з пухнастиками</h2>
  <div>
    <img src="#" alt="video" />
  </div>
</section>
