<ul class="posts-list">
  <li class="posts-list-item">
    <img src="./images/post1.jpg" class="post-photo" alt="post photo" />
    <div class="post-text-wrapper">
      <h2 class="post-title">
        Найпопулярніші породи котів: який кіт підходить вам?
      </h2>
      <p class="post-subtitle">
        Вивчіть найпопулярніші породи котів і їхні особливості, щоб зробити
        інформований вибір, який підходить саме вам.
      </p>
    </div>
  </li>
  <li class="posts-list-item">
    <img src="./images/post2.jpg" class="post-photo" alt="post photo" />
    <div class="post-text-wrapper">
      <h2 class="post-title">
        Як піклуватися про вашого пухнастого друга: догляд за котом
      </h2>
      <p class="post-subtitle">
        Дізнайтеся про основні аспекти догляду за котом, включаючи годування,
        гігієну та взаємодію з вашим улюбленцем.
      </p>
    </div>
  </li>
  <li class="posts-list-item">
    <img src="./images/post3.jpg" class="post-photo" alt="post photo" />
    <div class="post-text-wrapper">
      <h2 class="post-title">Забавні факти про котів, які вас здивують</h2>
      <p class="post-subtitle">
        Веселі та цікаві факти про котів, які піднімуть вам настрій та розкажуть
        про їхні унікальність.
      </p>
    </div>
  </li>
  <li class="posts-list-item">
    <img src="./images/post4.jpg" class="post-photo" alt="post photo" />
    <div class="post-text-wrapper">
      <h2 class="post-title">
        Історія та культурна значущість котів в усьому світ
      </h2>
      <p class="post-subtitle">
        Вивчіть, як коти впливали на культури різних народів та дізнайтеся
        історію спільного життя людей і котів.
      </p>
    </div>
  </li>
</ul>
