<div class="video-container">
  <h2 class="section-title">Відео з пухнастиками</h2>
  <div class="video-wrapper">
    <picture>
      <source
        srcset="images/video-preview-desktop.jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="images/video-preview-tablet.jpg"
        media="(min-width: 768px)"
      />
      <img
        src="images/video-preview-mobile.jpg"
        srcset="images/video-preview-mobile.jpg"
        class="video-preview"
        alt="video"
      />
    </picture>
    <svg class="player-btn">
      <use href="images/symbol-defs.svg#icon-player"></use>
    </svg>
  </div>
</div>
